<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of Items, let i = index;">
      <ion-card-header>
        <ion-card-title>{{ item.appliance_name }}</ion-card-title>
        <ion-card-subtitle>Part Name: {{ item.part_name }}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        Description: {{ item.part_descr }}
        Additional Notes: {{ item.addtl_notes }}
        Replacement Interval (days): {{ item.replc_interval }}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
